.signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Allows content to grow taller */
  background-color: #f7f7f5;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  /* overflow-y: auto; Enables vertical scrolling */
  flex-direction: column; /* Stack content vertically if needed */
}

.signin-card {
  background: white;
  padding: 40px 30px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.signin-heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
  text-align: center;
  color: #333;
}

.signin-form input {
  width: 100%;
  padding: 12px 14px;
  margin-top: 6px;
  margin-bottom: 20px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  background-color: #f0f5ff;
  font-size: 15px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.signin-form input:focus {
  outline: none;
  border-color: #cc9735;
  background-color: #ffffff;
}

.signin-password-wrapper {
  position: relative;
}

.signin-toggle-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.signin-button {
  width: 100%;
  padding: 12px;
  background-color: #e68a00;
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-button:hover {
  background-color: #e68a00;
}

.signin-error {
  color: #cc0000;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.signin-links {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.signin-manager-link {
  margin-top: 8px;
  font-size: 13px;
  color: #e68a00;
  text-decoration: underline;
  cursor: pointer;
}



.signin-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-loader-box {
  text-align: center;
  background: #fff;
  padding: 1.5rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.spinner {
  width: 32px;
  height: 32px;
  border: 4px solid #ccc;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.signin-loader-text {
  font-size: 16px;
  color: #333;
}
